table {
   width: 100%;
   font-size: 16px;
   border-collapse: separate;
   background: #EEEEEE;
   color: black;
}

#viewport {
    position: relative;
}

#viewport canvas {
    position: absolute;
}

canvas {
    background-color: transparent;
    border:1px solid #000000;
}

.imagebig {
    width: 448px;
    height: 336px;
    vertical-align: middle;
    text-align: center;
}

.map {
    width: 448px;
    height: 448px;
    vertical-align: top;
    

}