.red {
    color:#FF0000;

}

.yellow {
    color:#FFD700;
}

.green {
    color:#00FF00;
}

.gray {
    color:#AAAAAA;
}

.black {
    color:#000000;
}

.white {
    color:#FFFFFF;
}

.bggreen {
    background-color:#00FF00;
}

.bgblack {
    background-color:#000000;
}

.bggray {
    color:#AAAAAA;
}

.bgwhite {
    background-color:#FFFFFF;
}

.bgred {
    background-color:#FF0000;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.mv {
    border: 1px solid #000000;
}

.space {
    height: 20px;
}
.button {
    display: block;
    margin: auto;
}
.imagebig {
        width: 448px;
        height: 336px;
        vertical-align: middle;
        text-align: center;
}
