.cred {
    color:red;
}

.cyellow {
    color:yellow;
}

.cgreen {
    color:green;
}

.bggray {
    color:gray;
}

.bggreen {
    background-color:green;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.mv {
    border: 1px solid #000000;
}

.space {
    height: 50px;
}
